<!-- Simple header with scrollable tabs. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Title</span>
    </div>
    <!-- Tabs -->
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
      
      <% for i in 2..10 %>
        <%= link_to "#{i} ticks", "#scroll-tab-#{i}", :class => "mdl-layout__tab" %>
      <% end %>
      
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Sair
    
    <!-- FAB button with ripple -->
<a href="<%= destroy_user_session_path  %>" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
  <i class="material-icons">exit_to_app</i>
</a>
    
    </span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    
    <section class="mdl-layout__tab-panel is-active" id="scroll-tab-2">
      <div class="page-content"><%= render partial: "ticks", locals: {ticks: 2} %></div>
    </section>
    
    <% for i in 3..10 %>
      <section class="mdl-layout__tab-panel" id="scroll-tab-<%= i %>">
        <div class="page-content"><%= render partial: "ticks", locals: {ticks: i} %></div>
      </section>
    <% end %>
    
  </main>
</div>